/*CSS INDEPENT OF BOOTSTRAP*/



/*-----------GENERAL------------*/

html, body {
    max-width: 100%;
    overflow-x: hidden;
    scroll-padding-top: 95px;
    scroll-behavior:smooth;
}

p{
    text-align: justify;
}




/*-----------HEADER SECTION------------*/
.nav-link:hover{
    color: #eab4c4 !important;
}

#navbar-contact-button{
    padding-top: 13px;
    background-color: #eab4c4;
    -webkit-appearance: none; /*in order to make sure that the button keeps its color in safari*/
}

.fixed-top{
   overflow-x: hidden !important;
}

.headerBackground{
    padding-left: 0% !important;
    padding-right: 0% !important;
    
}


video.bg-video {
    object-fit: cover;
    min-width: 100vw;
    height: 100vh;
    /* position: fixed; */
    top: 0;
    left: 0;
    z-index: -1;
    display: none;

}



.logooverlay{
    position: absolute;
    width: 50vw;
    min-height: 50vh;
    height: 50vh;
    left: 0;
    top: 0;
    /* background: rgba(244, 244, 244, 0.25); */
    /* background-image: url('../images/pH_logo-horizontal-4transparantheader.jpeg') !important; */
    z-index: 5;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    
    
  
}

.overlay{
    background-color: rgba(244, 244, 244, 0.25);
    z-index: 3;
    object-fit: cover;
    min-width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    position: absolute;
}

.mobileBackground{
    background-image: url('../images/mobilebackground.webp');
    background-size: cover;
    min-width: 100vw;
    height: 100vh;  
    z-index: -1;
    
    background-repeat: no-repeat;

}


@media (min-aspect-ratio: 16/9) {
    video.bg-video {
        display: block;
    }
    .logooverlay{
        /*background-image: url('../images/pH_logo-horizontal-4transparantheader.webp');*/
        background-image: url('../images/logoConotationCropToContent.webp');
    }
    .mobileBackground{
        display: none;
    }
}

@media(max-aspect-ratio: 16/9){
    video.bg-video {
        display: block;
    }
    .logooverlay{
        background-image: url('../images/pH_logo-horizontal-4transparantheader.webp');
    }
    .mobileBackground{
        display: none;
    }
}

@media (max-width: 767px){
    video.bg-video{
        display: none;
    }
    .logooverlay{
        background-image: url('../images/mobileLogoConotation.webp');
        top: 60% !important;
    }
    .mobileBackground{
        display: block;
    }

  
}






/*-----------ABOUT SECTION------------*/

.about{
    background-color: white;
}

.about h1{
    color: #f680a3;
}

/* .founderImage{
    height: 433px;
} */

.founderImage{
    max-height: 75%;
}

 @media (max-width: 767px){
    .p-5{
        /* padding-top: 16px !important; */
        padding-top: 0.5rem !important;
        padding-bottom: 0.5rem !important;
        /* padding-bottom: 16px !important; */
        padding-left: 3rem !important;
        padding-right: 3rem !important;
    }
    .fillBlock{
        display: none;
    }
    .founderImage{
        
        max-width: auto !important;
        min-height: 90% !important;
        margin-top: 1rem;
    }


  
}

/*-----------SERVICES SECTION------------*/

.services{
    color: #1c2444;
    min-height: 45rem !important;
  
}


.services h1{
    margin-top: 1.5rem;
}

.service-subtitle{
    font-weight: bold;
}

.services ul{
    text-align: left !important;
    /* padding-top: 3rem; */
    padding-left: 4rem;
    
    
}

.services li{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
 
}

.service-row-browser{
    padding-bottom: 1.5rem  !important;
    visibility: visible;
}

.service-row-mobile{
    display: none;
}

@media (max-width: 767px){
    .pt-5{
        /* padding-top: 16px !important; */
        padding-top: 0.5rem !important;
        /* padding-bottom: 0.5rem !important;
        /* padding-bottom: 16px !important; */
        /* padding-left: 3rem !important;
        padding-right: 3rem !important;  */
    }
    .pb-5{
        padding-bottom: 0.5rem !important;
    }
    .services ul{
        padding-top: 0rem !important;
        padding-bottom: 0rem;
        padding-left: 3rem !important;
    }


}

.padding-0{
    padding-right:0;
    padding-left:0;
}

/*services - animation for overlay*/

.content {
    position: relative;
    /* width: 90%;
    max-width: 400px; */
    margin: auto;
    overflow: hidden;
    height: 560px;

}

.content-permanent{
    color: white;
    background: rgba(73, 72, 72, 0.353); 
    position: absolute;
    height: 99%;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 1;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}



.content-permanent h3{
    position: absolute;
    top: 50%;
    color: #fff;
    font-weight: 500;
    letter-spacing: 0.15em;
    margin-bottom: 0.5em;
    text-transform: uppercase;
}

.content:hover .content-permanent{
    opacity: 0;
}
 
.content ul{
    color: white;
    padding-left: 1rem;
}  

.first-service-container{
    /* padding-left: 18px; */
}
  
.third-service-container{
    /* padding-right: 18px; */
}

.content .content-overlay {
    background: rgba(0,0,0,0.7);
    position: absolute;
    /* height: 99%; */
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
}
  
.content:hover .content-overlay{
    opacity: 1;
}
  
.content-image{
    width: 100%;
    height: 100%;
    max-height: 100% !important;
    min-width: 100%;
}
  
.content-details {
    position: absolute;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
    top: 50%;
    left: 50%;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}
  
.content:hover .content-details{
    top: 50%;
    left: 50%;
    opacity: 1;
}
  
.content-details h3{
    color: #fff;
    font-weight: 500;
    letter-spacing: 0.15em;
    margin-bottom: 0.5em;
    text-transform: uppercase;
}
  
.content-details p{
    color: #fff;
    font-size: 0.8em;
}
  
.fadeIn-bottom{
    top: 80%;
}

.service-picture-implementation{
    padding-top: 5%;
    padding-bottom: 5%;
}







/*-----------TESTIMONIALS SECTION------------*/

.testimonials{
  
    min-height: 750px !important;
    padding-bottom: 15px;
}

.carousel{
    min-height: 700px !important;
}

.carousel-inner{
    margin-left: 25%;
    width: 100%;
    height: auto !important;
    align-items: center !important;
    position: relative;
}

.carousel-item img{
    max-height: 400px !important;
    min-height: 400px !important;
    width: auto !important;
    max-width: 80% !important;
    padding-bottom: 2rem!important;
  
}

.carousel-item h2{
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-size: 1,1rem;
    color: #54546c;
    
}

.carousel-item h3{
    font-size: 1rem;
    color: #848494;
    
}

/* .carousel-item i{
    padding-top: 2rem;
  
} */

.carousel-buttons{
    position: absolute; 
    
 
    bottom: 50%; 
    border:transparent; 
    background: transparent;
}

#left-button{
    left:20%;
}

#right-button{
    right: 20%
}

.swipe-indicator{
    display: none;
}

@media (max-width: 767px){
   
    .testimonials{
        min-height: 850px !important;
    }

    .carousel{
        min-height: 800px !important;
    }

    .carousel-item i{
        padding-top: 2rem;
  
    }

    .carousel-buttons{
        bottom: 70%
    }

    .swipe-indicator{
        display: inline;
        position: absolute; 
        bottom: 64%; 
        font-size: 0.70rem;
        font-style: italic;
        opacity: 0.65;

    }

    #right-swipe-indicator{
        right: 5%;
        

    }

    #left-swipe-indicator{
        left: 5%;
    }


    #left-button{
        left: 5%;
        margin-left: 0% !important;

      
    }

    .carousel-buttons img{
        opacity: 0.5;
        height: 30px;
    }



    #right-button{
        right: 5%;
      
    }


    .carousel-item img{
        min-height: auto !important;
        height: 100% !important;
        width: 70% !important;
    }
}


.carousel-item {
    width: 50%;
}


.icon img{
    height: 300px;
}



/*-----------CONTACT SECTION------------*/

.contact{
    background-color: #333a57;
    /* color: rgba(255, 255, 255, 0.55); */
    color: #D8E1DF;
    margin-bottom: 0px !important;
    margin-top:1.5rem !important;
    
}

.contact h1{
    margin: 1,5rem !important;
    padding-top: 2rem !important;
    padding-bottom: 1,5rem !important;
}
.easy-contact-button{
    max-width: 15%;
    margin-right: 2%;
    margin-top: 1rem;
    -webkit-appearance: none; /*in order to make sure that the button keeps its color in safari*/


}

.contact-icons{
    filter: invert(100%);
    margin-right: 7px;
    height: 20px;

}

.form-success-message{
    display: none;
}

.form-no-success-message{
    display: none;
}

@media (max-width: 767px){
   .contact h2 {
        padding-top: 0.5rem !important;
        margin-top: 5%;
        
   }

   .contact-adress{
        padding-right: 3rem !important;
        padding-left: 3rem !important;
   }

   .easy-contact-button{
        min-width: 110px;
        width: auto;
        text-overflow: ellipsis;
        height: auto;
        display: inline-block;
        padding-right: 5px;
        padding-left: 5px;
        line-break: strict;
        word-spacing: 110px;
        margin-bottom: 5%;
        
        
   }



   #left-contact-button{
    margin-left: 18%;
}

}


/*-----------FOOTER SECTION------------*/

footer{
    background-color: #545c74;
    /* color: #8c94a4; */
    color: #C9D5D4;
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-family: var(--bs-font-sans-serif);
}

.footer-text{
    /* padding-left: 1,5rem; */
    padding-bottom: 10px;
    padding-top: 10px;
    margin-bottom: 0px;

    
    
}

footer a{
    color: #C9D5D4;
}

footer a:hover{
    color: #eab4c4;
}

@media (max-width: 767px){
    .footer-text{
        /* padding-left: 1,5rem; */
        padding-left: 4.5rem !important;
        padding-right: 3rem !important;
        
    }
}