/*CSS INDEPENT OF BOOTSTRAP*/

html, body {
    max-width: 100%;
    overflow-x: hidden;
    scroll-padding-top: 95px;
    scroll-behavior:smooth;
}




/*-----------HEADER SECTION------------*/
/* .nav{
    position: fixed;
    
} */

.fixed-top{
   overflow-x: hidden !important;
}

.headerBackground{
    padding-left: 0% !important;
    padding-right: 0% !important;
    
}


/* .headerText h1{
    color: orange;
} */

video.bg-video {
    object-fit: cover;
    min-width: 100vw;
    height: 100vh;
    /* position: fixed; */
    top: 0;
    left: 0;
    z-index: -1;

}

/*@TODO: exclude video for cellphones*/

.logooverlay{
    position: absolute;
    width: 50vw;
    min-height: 50vh;
    height: 50vh;
    left: 0;
    top: 0;
    /* background: rgba(244, 244, 244, 0.25); */
    /* background-image: url('../images/pH_logo-horizontal-4transparantheader.jpeg') !important; */
    z-index: 5;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    
    
  
}

.overlay{
    background-color: rgba(244, 244, 244, 0.25);
    z-index: 3;
    object-fit: cover;
    min-width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    position: absolute;
}

.mobileBackground{
    background-image: url(../images/mobilebackground.jpg);
    background-size: cover;
    min-width: 100vw;
    height: 100vh;  
    z-index: -1;
    
    background-repeat: no-repeat;

}


@media (min-aspect-ratio: 16/9) {
    .logooverlay{
        background-image: url('../images/pH_logo-horizontal-4transparantheader.jpeg');
    }
    .mobileBackground{
        display: none;
    }
}

@media(max-aspect-ratio: 16/9){
    .logooverlay{
        background-image: url('../images/pH_logo-horizontal-4transparantheader.jpeg');
    }
    .mobileBackground{
        display: none;
    }
}

@media (max-width: 767px){
    video.bg-video{
        display: none;
    }
    .logooverlay{
        background-image: url('../images/mobileLogoConotation.png');
        top: 60% !important;
    }
    .mobileBackground{
        display: inherit;
    }

  
}






/*-----------ABOUT SECTION------------*/

.about{
    background-color: white;
}


.about img{

    height: 433px;
 }

 @media (max-width: 767px){
    .p-5{
        /* padding-top: 16px !important; */
        padding-top: 0.5rem !important;
        padding-bottom: 0.5rem !important;
        /* padding-bottom: 16px !important; */
        padding-left: 3rem !important;
        padding-right: 3rem !important;
    }
    .fillBlock{
        visibility: collapse;
    }
    .about img{
        max-width: 75%;
        height: auto !important;
    }
  
}

/*-----------SERVICES SECTION------------*/

.services{
    color: #1c2444;
    min-height: 45rem !important;
  
}


.services h1{
    margin-top: 1.5rem;
}

.services ul{
    padding-top: 3rem;
    padding-left: 4rem;
    
}

.services li{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
 
}

.service-row-browser{
    padding-bottom: 1.5rem  !important;
    visibility: visible;
}

.service-row-mobile{
    display: none;
}

@media (max-width: 767px){
    .pt-5{
        /* padding-top: 16px !important; */
        padding-top: 0.5rem !important;
        /* padding-bottom: 0.5rem !important;
        /* padding-bottom: 16px !important; */
        /* padding-left: 3rem !important;
        padding-right: 3rem !important;  */
    }
    .pb-5{
        padding-bottom: 0.5rem !important;
    }
    .services ul{
        padding-top: 0rem !important;
        padding-bottom: 0rem;
    }
    .service-row-browser{
        display: none;
    }
    .service-row-mobile{
        display: block;
        padding-right: 1rem !important;
        padding-bottom: 3rem;
    }

}

/*-----------TESTIMONIALS SECTION------------*/

.testimonials{
  
    min-height: 750px !important;
    padding-bottom: 15px;
}

.carousel{
    min-height: 700px !important;
}

.carousel-inner{
    margin-left: 25%;
    width: 100%;
    height: auto !important;
    align-items: center !important;
    position: relative;
}

.carousel-item img{
    height: 400px !important;
    width: auto !important;
    padding-bottom: 2rem!important;
  
}

.carousel-item h2{
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-size: 1,1rem;
    color: #54546c;
    
}

.carousel-item h3{
    font-size: 1rem;
    color: #848494;
    
}

/* .carousel-item i{
    padding-top: 2rem;
  
} */

.carousel-buttons{
    position: absolute; 
    
 
    bottom: 50%; 
    border:transparent; 
    background: transparent;
}

#left-button{
    left:20%;
}

#right-button{
    right: 20%
}

.swipe-indicator{
    display: none;
}

@media (max-width: 767px){
   
    .testimonials{
        min-height: 850px !important;
    }

    .carousel{
        min-height: 800px !important;
    }

    .carousel-item i{
        padding-top: 2rem;
  
    }

    .carousel-buttons{
        bottom: 70%
    }

    .swipe-indicator{
        display: inline;
        position: absolute; 
        bottom: 64%; 
        font-size: 0.70rem;
        font-style: italic;
        opacity: 0.65;

    }

    #right-swipe-indicator{
        right: 5%;
        

    }

    #left-swipe-indicator{
        left: 5%;
    }


    #left-button{
        left: 5%;

      
    }

    .carousel-buttons img{
        opacity: 0.5;
        height: 30px;
    }



    #right-button{
        right: 5%;
      
    }


    .carousel-item img{
        height: 100% !important;
        width: 70% !important;
    }
}


.carousel-item {
    width: 50%;
}


/* .carousel .carousel-indicators li {
    background-color: #fff;
    background-color: rgba(70, 70, 70, 0.25);
  }
  
  .carousel .carousel-indicators .active {
    background-color: #444;
  } */





.icon img{
    height: 300px;
}


/*-----------PORTFOLIO SECTION------------*/

/*THERE IS NOTHING HERE YET*/

/*-----------PORTFOLIO SECTION------------*/

.contact{
    background-image: url('/images/contactformBackground.jpg');
    /*background-attachment: fixed;*/
    background-size: cover;
    background-position: center;
}

/* .overlayContact{
    background-image: url('/images/contactformOverlap.png');
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    left: 0;
    top: 0;

    height: 100vh;
   } */